<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.trackerId"
             title="@Strings.SettingTrackerIdLabel"
             prompt="@Strings.SettingTrackerIdPrompt">
        <settingConfig type="alphaNumeric" maxLength="8" required="false" />
    </setting>
    <setting propertyKey="@Properties.uploadId"
             title="@Strings.SettingUploadIdLabel"
             prompt="@Strings.SettingUploadIdPrompt">
        <settingConfig type="alphaNumeric" maxLength="12" required="false" />
    </setting>
    <setting propertyKey="@Properties.uploadIntervalS"
             title="@Strings.SettingUploadIntervalLabel"
             prompt="@Strings.SettingUploadIntervalPrompt">
        <settingConfig type="numeric" min="5" max="120" />
    </setting>
</settings>